{% extends 'base.html' %}
<body>
    {% block content %}
        <h1>Welcome to index.html</h1>
        <ul>
            <li><a href="/posting">add post</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/logout">logout</a></li>
            <li><a href="/users">users</a></li>
            <li><a href="/users/edit">edit user details</a></li>
            <li><a href="/feed">posts</a></li>

        </ul>
    {% endblock %}
</body>
