{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ thisUserD.profile_pic }}" class="img-circle" width="250" height="250" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2>{{ thisUserD.username }}</h2>
                    </div>
                    <br><br><br>
                    <h4>{{ thisUserD.location }}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            {% for user_post in user_posts %}
                <div class="panel_heading">
                    {{ thisUser.username }}
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        <img src="{{ thisUserD.profile_pic }}" class="img-circle" width="100" height="100" alt="">
                    </div>
                    <div class="col-md-10">
                        <p>{{ user_post.post_content }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
